// Personalize the colors in your website.
// Colour values can be any valid CSS colour
$navbar-col: #F4F7F7; // default: #F5F5F5
$navbar-text-col: #404040;
$navbar-children-col: #F5F5F5;
$page-col: #FFFFFF;
$link-col: #008AFF; // default: #008AFF
$hover-col: #0085A1; // default: #0085A1
$footer-col: #F4F7F7;
$footer-text-col: #777777;
$footer-link-col: #404040;

// Alternatively, the navbar, footer, and page background
// can be set to use background images instead of colour
$navbar-img: ""; // default: "/assets/img/bgimage.png";
$footer-img: "";
$page-img: "";

// Fonts
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

// Typography
$font-family-sans: -apple-system, 'Spoqa Han Sans', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-headings: -apple-system, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-serif: 'Lora', 'Times New Roman', serif;
